body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

ul {
    margin: 0 0 40px;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

ul li {
    list-style: none;
    margin: 0 5px 40px;
}

ul li .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.5s;
    transform: rotateY(90deg);
    transform-origin: left;
}

ul li input[type="radio"] {
    position: relative;
    z-index: 1;
    height: 20px;
    width: 20px;
}

ul li input[type="radio"]:checked ~ .slide {
    transition: transform 0.5s;
    transform: rotateY(0deg);
    transform-origin: right;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,.7);
    padding: 40px;
}

.content h2 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

.content p {
    font-size: 1rem;
}

.slide img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}

ul li input[type="radio"]:checked ~ .slide img {
    animation: animate 40s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}